@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bodyClass {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.list {
    width: 336px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
}

.yellowInsert {
    height: 28px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0px 0px;
}

.parentForText {
    text-align: center;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    margin: 0px;
}

.divArrow {
    width: auto;
    height: 25px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 20PX;
    margin-top: 5px;
}

.divArrow .arrow {
    width: 25px;
    height: 15px;
    margin-right: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    width: auto;
}

.tasks {
    display: flex;
    border: 1px solid #c4c4c4;
    line-height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

.form {
    position: relative;
}

.userInput {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: calc(100% - 40px);
    line-height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    box-sizing: border-box;
}

.buttonX {
    border-radius: 71px;
    width: 20px;
    height: 20px;
    font-size: 11px;
    color: #c4c4c4;
}

.addAll {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.add {
    border: 1px solid #883AE0;
    border-radius: 71px;
    width: 150px;
    height: 42px;
    background-color: #883AE0;
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    justify-content: flex-end;
}

.addText {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    margin-right: 30px;
}

.circle {
    width: 41px;
    height: 41px;
    border-radius: 71px;
    background-color: #9953F1;
    position: absolute;
    left: 0px;
    align-items: center;
}

.plus {
    color: #FFF;
    position: absolute;
    left: 40%;
    top: 30%;
}

.content {
    padding: 10px;
}